:root {
  --primary: #023047;
  --secondary: #8ecae6;
  --accent: #fb8500;
  --light-text: #eee6e8;
  --dark-text: #0e0d0f;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* nav */

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
}

.logo {
  font-weight: bold;
}

button.cta {
  width: fit-content;
  padding: 12px 12px;
  border-radius: 6px;
  color: var(--dark-text);
  background-color: var(--accent);
  border: none;
  font-weight: bold;
}
button.cta:hover {
  opacity: 0.8;
}
button.cta:active {
  opacity: 0.5;
}

/* hero section */

.hero-section {
  padding: 36px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--light-text);
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.hero-image {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* footer */

footer {
  padding: 36px 0;
  color: var(--light-text);
  background-color: var(--primary);
}
